* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* .navbar-container {
    display: flex;
} */

body {
    font-family: 'Roboto', sans-serif;
}

/*NAVBAR */

.navbar-top {
    display: flex;
    background-color: rgb(217, 217, 248);
    align-items: center;
    padding: 15px 0px;
    justify-content: space-evenly;
}

.navbar-ul {
    display: flex;
    list-style: none;
    /* margin-left: 50px; */
}

.navbar-ul-li {
    padding: 0px 5px;
}

.navbar-img {
    width: 30px;
    height: 30px;

}

/*BODY*/

.ItemListContainer {
    text-align: center;
}